<% if installation.enable_comments %>
	<div class="comment">
			<div class="gravatar">
				<%= image_tag raw(comment.gravatar_url) %>
			</div>
			<div class="comment-container">
				<div class="comment-content">
						<%=auto_link simple_format( comment.content )%>
				</div>
				<div class="comment-author">
					<div class="author">
						<%=comment.author + comment.created_at.strftime(" on %B %d, %Y at %I:%M %p") %>
					</div>
					<% if !comment.webpage.empty? %>
						<div class="webpage">
							<%= auto_link comment.webpage %>
						</div>
					<% end %>
				</div>
				<% if current_user %>
					<p>
						<%= link_to 'Delete Comment', [comment.post, comment],
			               :confirm => 'Are you sure you want to delete this comment forever?',
			               :method => :delete %>
					</p>
				<% end %>
			</div>
	</div>
<% end %>