<% if installation.enable_comments %>
	<% if @post.comments.length > 0 %>
		<h3 class="comments-header">Comments</h3>
		<div class="comments">
			<%= render :partial => @post.comments %>
		</div>
	<% end %>
	<div class="reply">
		<h3 class="reply-title">Post a comment...</h3>
		<div class="reply-form">
			<%= standard_form_for([@post, @post.comments.build]) do |form| %>
				<%= render(:partial => "partials/errors", :locals => {:item => @comment}) %>
				<%= form.text_field :author, :label => "Name", :label_class => "required" %>
				<%= form.url_field :webpage, :label => "Website" %>
				<%= form.email_field :email%>
				<div class="email-explanation">Will not be shown or shared, only used to display <a href="http://www.gravatar.com">gravatar</a>.</div>
				<%= form.text_area :content, :rows => 10, :cols => 24, :label => "Comments", :label_class => "required"%>
				<span class="comment_submit"><%= form.submit "Post this comment" %></span>
			<% end %>
		</div>
	</div>
<% end %>