<div class="comment">
	<h3 class="comment-data">
		<span class="comment-author">
			<%=comment.author%>
		</span>
		<span class="comment-date">
			<%=comment.created_at%>
		</span> 
	</h3>
	<div class="comment-email">
		<%=comment.email%>
	</div>
	<div class="comment-webpage">
		<%=comment.webpage%>
	</div>
	<div class="comment-content">
		<%=comment.content%>
	</div>
</div>