<h1 class="page-title">
	Muninn Setup Wizard
</h1>
<% if !installed? %>
	<%= standard_form_for @user do |form|%>
		<%= form.text_field :title %>
		<%= form.text_field :description %>
		<%= form.check_box :enable_comments %>
		<%= form.text_area :about %>
		<%= form.text_field :login %>
		<%= form.text_field :twitter %>
		<%= form.email_field :email %>
		<%= form.password_field :password %>
		<%= form.password_field :password_confirmation %>
		<%= form.submit "Create Blog" %>
	<%end%>
<% else %>
	<p>
		Muninn is already installed. To reinstall, delete the database that Muninn is currently running on.
	</p>
<% end %>