<h1 class="page-title">
	Muninn Setup Wizard
</h1>
<% if !installed? %>
	<%= standard_form_for @user do |form|%>
		<%= form.text_field :title %>
		<%= form.text_field :description %>
		<%= form.text_area :about %>
		<%= form.text_field :login %>
		<%= form.text_field :twitter %>
		<%= form.text_field :email %>
		<%= form.password_field :password %>
		<%= form.password_field :password_confirmation %>
		<%= form.submit "Create Blog" %>
	<%end%>
	<%=render :partial => "partials/simple_mce"%>
<% else %>
	<p>
		Muninn is already installed. To reinstall, delete the database that Muninn is currently running on.
	</p>
<% end %>