<div class=<%=style_class + "-post"%>>
	<h2 class=<%=style_class + "-title"%>>
		<%= link_to post.title, post_path(post) %>
	</h2>
	<div class=<%=style_class + "-date"%>>
		<%= post.created_at %>
	</div>
	<div class=<%=style_class + "-content"%>>
		<%= raw post.content %>
	</div>
	<div class=<%=style_class + "-edit"%>>
		<%= link_to "Edit Post", edit_post_path(post)%>
	</div>
	<div class=<%=style_class + "-delete"%>>
		<%= link_to 'Delete Post', post,
               :confirm => 'Are you sure you want to delete this post forever?',
               :method => :delete %>
	</div>
</div>