<%= render :partial => @post %>
<div class=<%="date"%>>
	<%= @post.created_at.strftime("Posted on %m/%d/%Y at %I:%M %p") %>
</div>
<div class="comments">
	<%= render :partial => @post.comments %>
</div>
<div class="reply">
	<h3 class="reply-title">Post a comment...</h3>
	<div class="reply-form">
		<%= form_for([@post, @post.comments.build]) do |form| %>
		<%= render(:partial => "partials/errors", :locals => {:item => @comment}) %>
			<dl>
				<dt>
					<%= form.label :Name %>
				</dt>
				<dd>
					<%= form.text_field :author %>
				</dd>
				<dt>
					<%= form.label :Website %>
				</dt>
				<dd>
					<%= form.url_field :webpage %>
				</dd>
				<dt>
					<%= form.label :Email%>
				</dt>
				<dd>
					<%= form.email_field :email%>
				</dd>
				<dt>
					<%= form.label :Comment%>
				</dt>
				<dd>
					<%= form.text_area :content%>
				</dd>
				<p class="submit">
					<%= form.submit "Post this comment" %>
				</p>
			</dl>
		<% end %>
	</div>
</div>